@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lavishly+Yours&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

section.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .navbar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      position: absolute;
      top: 10px;
      padding: 0px 100px;

      h2 {
        color: #a0bc71;
        font-size: 1.2rem;
        font-weight: 600;
      }
      .menu {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        a {
          text-decoration: none;
          color: #ffffff;
          font-size: 0.9rem;
        }
        a:hover {
          color: #a0bc71;
        }

        button {
          width: 100px;
          height: 35px;
          border: none;
          outline: none;
          background: #a0bc71;
          border-radius: 50px;
          color: #fff;
          cursor: pointer;
        }
        button:hover {
          background-color: #7f9c4c;
        }
      }
    }

    .box {
      width: calc(100% - 50px);
      height: fit-content;
      min-height: 150px;
      background: rgba(255, 255, 255, 0.6);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
      padding: 1rem;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      backdrop-filter: blur(5px);

      .form_group {
        width: 100%;
        display: flex;
        flex-direction: column;
        label {
          color: #000;
          font-size: 0.85rem;
          font-weight: 500;
          margin-bottom: 8px;
        }
        input {
          border: 1px solid #e4e4e4;
          height: 35px;
          border-radius: 5px;
          padding: 0rem 0.5rem;
          background: transparent;
          outline: none;
          background: #ffffff5e;
        }
      }
      .form_group2 {
        display: flex;
        flex-direction: column;
        label {
          margin-bottom: 8px;
          font-size: 0.8rem;
        }
        button {
          width: 100px;
          height: 35px;
          border: none;
          outline: none;
          background: #a0bc71;
          color: #fff;
          font-weight: 500;
          border-radius: 5px;
          cursor: pointer;
        }
        button:hover {
          background: #768f4a;
        }
      }
    }
  }
}

section.services {
  width: 100%;
  height: fit-content;
  padding: 10px 100px;
  margin-top: 2rem;
  h1 {
    color: #a0bc71;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  p {
    color: #474747;
    font-size: 0.85rem;
    text-align: justify;
    line-height: 1rem;
  }
  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 4rem;
    .card {
      width: 48%;
      height: fit-content;
      padding: 0.5rem;
      border: 1px solid #e4e4e4;
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 10px;
      .left {
        width: 130px;
        height: 130px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }
      .right {
        width: calc(100% - 130px);
        h2 {
          color: #000000;
          font-size: 1rem;
          margin-bottom: 5px;
        }
        p {
          font-size: 0.8rem;
          margin: 4px 0px;
        }
        button {
          background: #000000;
          border: none;
          outline: none;
          height: 33px;
          width: 100px;
          margin-top: 10px;
          color: #fff;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          cursor: pointer;
        }
      }
    }
  }
}

section.why {
  width: 100%;
  height: fit-content;
  padding: 10px 100px;
  margin-top: 4rem;

  h1 {
    color: #a0bc71;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  p {
    color: #474747;
    font-size: 0.85rem;
    text-align: justify;
    line-height: 1rem;
  }
  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 4rem;
    .card {
      width: calc(100% / 4);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;

      .icon {
        width: 80px;
        border-radius: 5px;
        background: #a0bc71;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        i {
          font-size: 3rem;
          color: #fff;
        }
      }
      h3 {
        font-size: 1rem;
        margin-top: 0.8rem;
        font-weight: 600;
        text-align: center;
      }
      p {
        color: #474747;
        font-size: 0.8rem;
        margin-top: 0.8rem;
        text-align: center;
      }
    }
    .card1 {
      width: 23%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;

      .icon {
        width: 80px;
        border-radius: 5px;
        background: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        i {
          font-size: 3rem;
          color: #fff;
        }
      }
      h3 {
        font-size: 1rem;
        margin-top: 0.8rem;
        font-weight: 600;
        text-align: center;
      }
      p {
        color: #474747;
        font-size: 0.8rem;
        margin-top: 0.8rem;
        text-align: center;
      }
    }
  }
}

.copy {
  width: 100%;
  background: #f5f5f5;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

footer {
  width: 100%;
  margin-top: 5rem;
  height: fit-content;
  padding: 20px 100px;
  background: #f5f5f5;
  display: flex;
  gap: 10px;
  padding-top: 40px;
  .col1 {
    width: 50%;
    padding-right: 1rem;
    h5 {
      color: #a0bc71;
      font-weight: 600;
      font-size: 1.1rem;
      margin-bottom: 8px;
    }
    p {
      color: #474747;
      font-size: 0.8rem;
      line-height: 1.2rem;
      text-align: justify;
    }
  }
  .col2 {
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;

    h5 {
      color: #000000;
      font-weight: 600;
      font-size: 0.9rem;
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
      font-size: 0.85rem;
      margin-bottom: 10px;
      color: #474747;
      display: flex;
      align-items: center;
      gap: 5px;
      width: fit-content;
    }
    a:hover {
      color: #a0bc71;
    }
  }
}

section.newsletter {
  width: 100%;
  height: 400px;
  padding: 10px 100px;
  margin-top: 8rem;

  .wrap {
    width: 100%;
    height: 100%;
    position: relative;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    position: relative;
  }
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    h4 {
      font-size: 2rem;
      color: #fff;
      font-weight: 600;
      margin-bottom: 10px;
    }
    p {
      color: #ffffff;
      font-size: 0.85rem;
      opacity: 0.9;
      text-align: center;
    }
    .form_group {
      margin-top: 1rem;
      display: flex;
      input {
        width: 300px;
        height: 40px;
        background: rgba(255, 255, 255, 0.6);
        padding: 0 1rem;
        border-radius: 5px;
        border: 1px solid #e4e4e4;
        outline: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        backdrop-filter: blur(5px);
        border-right: none;
      }
      button {
        background: #a0bc71;
        color: #fff;
        border: none;
        outline: none;
        width: 100px;
        border-top: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

section.feedback {
  width: 100%;
  height: 100vh;
  background: #fbfbfb;
  margin-top: 10rem;
  padding: 50px 100px;
  h1 {
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
  }
  p {
    font-size: 0.85rem;
    text-align: center;
    color: #474747;
  }
  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 5rem;
    .card {
      width: 48%;
      height: fit-content;
      background: #fff;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      i {
        color: #a0bc71;
        font-size: 3rem;
      }
      .rate {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 2px;
        i {
          color: orange;
          font-size: 0.9rem;
        }
      }
      p {
        margin-top: 5px;
        text-align: left;
        line-height: 1.2rem;
      }
      p.name {
        text-align: right;
        font-size: 0.85rem;
        margin-top: 10px;
        margin-bottom: 5px;
      }
    }
  }
}
